.canvas {
  background-color: white;
  height: 480px;
  width: 854px;

  position: relative;
  overflow: hidden;

  .element-draggable {
    padding: 15px;
    cursor: move;
  }

  .element-item {

  }

  textarea {
    position:relative;
    z-index:1;
    border: 0px;
    resize: none;
  }

  textarea:hover,
  textarea:active,
  textarea:focus,
  input:hover,
  input:active,
  input:focus,
  button:focus,
  button:active,
  button:hover {
    outline:0px !important;
    -webkit-appearance:none;
  }
}


.save-area {
  border-radius: 4px;
  background-color: rgb(171, 226, 152);
  padding: 20px;
}


.load-area {
  border-radius: 4px;
  background-color: rgb(186, 218, 174);
  padding: 20px;
}
