.canvas {
  border: 1px solid rgb(91, 91, 91);
  height: 400px;
  width: 700px;
  position: relative;
  overflow: hidden;

  .element-draggable {
    padding: 15px;
    cursor: move;
  }

  .element-item {

  }

  input {
    position:relative;
    z-index:1;
    border: 0px;
  }
}
