@import 'colors.css.scss';  // Colors

.top-wrapper {
  color: white;
  padding: 30px 0px;
  background-color: #068B78;
}

.home-button {
  margin-top: 10px;
  // color: $grey-blue;
  font-size: 20px;
  display: inline-block;
  margin-left: 50px;
}

.main-message {
  h2 {
    color: $grey-blue;
    font-weight: 900;
  }
}


.theme-selector {
  padding: 20px;
  background-color: #9ED79A;
}

.theme-thumbnail {
  background-color: white;
  height: 60px;
  width: 80%;
}

.home-canvas-picker {
    background-color: #D4D4D4;
    min-height: 500px;
    padding: 40px;
}

.home-canvas {
  padding: 30px 30px 30px 90px;
  background-color: $wash-grey;
}
