<template name="header">
<div class="top-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <a href="{{pathFor 'homepage'}}"><img src="home_logo.png" height="40"></a>
      </div><!-- col -->
      <div class="col-md-6 right">
        <div class="home-button">
          Features
        </div>
        <div class="home-button">
          <a href="{{pathFor 'themesIndex'}}">Themes</a>
        </div>
        <div class="home-button">
          Sign Up
        </div>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- top-wrapper -->

</template>
