<template name="imageElement">
  <div class="element-draggable draggable" data-id="{{_id}}"
      style="position: absolute;
            left: {{left}}px;
            top: {{top}}px;">

    <div class="edit-element" data-id="{{_id}}"
        style="visibility: hidden">
      {{> imageElementEditor elementId=this._id}}
    </div>

    <br/>
    <div class="element-item resizable" data-id="{{_id}}"
        style="padding: 16px;
              resize: both;
              background-image: url({{src}});
              background-repeat: {{backgroundRepeat}};
              background-position: {{backgroundPosition}};
              width: {{width}}px;
              height: {{height}}px;">
    </div>

  </div>
</template>
