<template name="canvasNew">
  {{>header}}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Create new canvas</h1>

        <!-- canvas -->
        <div class="canvas">
            {{#each currentCanvasHelper}}
              {{#if isText}}
                {{> element }}
              {{/if}}
              {{#if isImage}}
                {{> imageElement}}
              {{/if}}
            {{/each}}
        </div>

        <!-- choose theme -->
        Theme:
        <select id="theme-select">
          {{#each themes}}
            <option value="{{_id}}"> {{name}} </option>
          {{/each}}
        </select>


        <!-- save -->
        <button id="save-button">save</button>
        <input id="canvas-name-input" value="{{getCurrentCanvasName}}" />


        <!-- save -->
        <button id="save-button">save</button>
        <input id="canvas-name-input" />

        <!-- load -->
        <button id="load-button">load</button>
        <select id="load-button-select">
          {{#each canvases}}
            <option value="{{_id}}"> {{name}} </option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>
</template>
