<template name="elementEditor">

  <form class="text-editor">
    <select data-id="{{elementId}}" name="fontColor">
      {{#each fontColors}}
        <option selected="{{checkSelected 'fontColor'}}"
        value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <select data-id="{{elementId}}" name="fontFamily">
      {{#each fontFamilies}}
        <option selected="{{checkSelected 'fontFamily'}}"
        value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <select data-id="{{elementId}}" name="fontSize">
      {{#each fontSizes}}
        <option selected="{{checkSelected 'fontSize'}}"
        value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <select data-id="{{elementId}}" name="textAlign">
      {{#each textAligns}}
        <option selected="{{checkSelected 'textAlign'}}"
        value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    {{#each fontStyles}}
      <input type="checkbox" data-id="{{elementId}}" name="{{this}}"
      value="{{this}}"> {{this}}
    {{/each}}

    <button data-id="{{elementId}}" class="btn btn-info delete-element">
      <span style="font-size:1em;" class="glyphicon glyphicon-trash"></span>
    </button>
  </form>

</template>
