<template name="element">
  <div class="element-draggable draggable" data-id="{{_id}}"
      style="position: absolute;
            left: {{left}}px;
            top: {{top}}px;">

    <div class="edit-element" data-id="{{_id}}"
        style="visibility: hidden">
      {{> editFontFamily}}
      {{> editFontSize}}
      {{> editFontColor}}
      {{> editFontStyle}}
      {{> alignText}}
    </div>

    <br/>
    <div class="element-item" data-active="false" data-id="{{_id}}"
        style="color: {{fontColor}};
              font: {{fontStyle}}
                    {{fondVariant}}
                    {{fontWeight}}
                    {{fontSize}}px
                    {{fontFamily}}">
      <form class="element-input" data-id="{{_id}}">
        <textarea name="text"
                  type="text"
                  style="height:{{textBoxHeight}}px;
                        width:{{textBoxWidth}}px">{{text}}</textarea>
      </form>
    </div>

  </div>
</template>
