<template name="element">
  <div class="element-draggable draggable" data-id="{{_id}}"
  style="position: absolute;
         left: {{left}}px;
         top: {{top}}px;">
    <div class="edit-element" data-id="{{_id}}" hidden>
      {{> editFontFamily}}
      {{> editFontSize}}
      {{> editFontColor}}
      {{> editFontStyle}}
    </div>

    <div class="element-item" data-active="false" style="
     color: {{fontColor}};
     font: {{fontStyle}}
           {{fondVariant}}
           {{fontWeight}}
           {{fontSize}}px
           {{fontFamily}}">
      <form class="element-input" data-id="{{_id}}">
        <textarea name="text" style="height:{{textBoxHeight}}px;
         width:{{textBoxWidth}}px" type="text">{{text}}</textarea>
      </form>
    </div>
  </div>
</template>
