<template name="element">
  <div class="edit-element" style="visibility: {{editVisible}}">
    <form class="edit-element" data-id="{{_id}}">
      <select>
        <option value="Comic Sans Ms">Comic Sans Ms</option>
        <option value="Verdana">Verdana</option>
        <option value="Georgia">Georgia</option>
        <option value="Times New Roman">Times New Roman</option>
      </select>
    </form>
  </div>

  <br/>

  <div class="element-item" style="
   position: absolute;
   left: {{left}}px;
   top: {{top}}px;
   color: {{fontColor}};
   font: {{fontStyle}}
         {{fondVariant}}
         {{fontWeight}}
         {{fontSize}}px
         {{fontFamily}}">
    <form class="element-input" data-id="{{_id}}">
      <input name="text" style="height:{{textBoxHeight}}px; width:{{textBoxWidth}}px" type="text" value="{{text}}" />
    </form>
  </div>
</template>
