<template name="homepage">
  {{> header}}

  <div class="container-fluid no-margins">
    <div class="row">
      <div class="col-md-8">
        <div class="home-canvas">
          <div class="canvas">
        <!-- canvas -->
        <div class="canvas">
            {{#each currentCanvasHelper}}
              {{#if isText}}
                {{> element }}
              {{/if}}
              {{#if isImage}}
                {{> imageElement}}
              {{/if}}
            {{/each}}
        </div>
          </div>
        </div>
      </div>


      <div class="col-md-offset-1 col-md-3 home-canvas-picker">
        <div class="row">
          <div class="col-md-12">

            {{#each canvases}}
            <div data-id="{{_id}}" class="canvas-thumbnail canvas-selector" style=" background: {{#if thumbnail}} url({{thumbnail}}) no-repeat center center;   background-size: cover; color: white; {{/if}}">
                {{name}}
              </div>
            {{/each}}

          </div><!-- col -->
        </div><!-- row -->
      </div>
    </div>
  </div>

  <div class="secondary-area">
    <div class="container">

    </div>
  </div>
</template>
