<template name="homepage">
  {{> header}}
  <div class="theme-selector">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
              <div class="theme-thumbnail">

              </div>
            </div>
        </div>

      </div>
  </div>

  <div class="container-fluid no-margins">
    <div class="row">
      <div class="col-md-4 home-canvas-picker">

        <div class="row">
          <div class="col-md-6">
            <div class="canvas-thumbnail">
              hello world
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <div class="home-canvas">
          <div class="canvas">
            {{#each elements}}
              {{> element}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>


</template>
